
 body{
     background:#dea;
 }
 div#tete{
     width: 770px ;
     margin:  auto ;
     border: 2px solid #ab4 ;
     background: #fff ;
 }

 ul#bar li
{
display: inline-block;
	text-align: center;
}


nav{
    height: 25px ;
	margin: -19px 0 ;
    background: url(../img/bg_menu.gif) repeat-x 0 -25px ;
    list-style-type: none ;
}
nav ul{
    list-style-type: none;
    height: 26px;
 }

ul#bar li a
{
width: 130px ;
line-height: 25px ;
font-size: 0.5cm ;
font-weight: bold ;
color: #ffff ;
display:block ;
text-decoration: none ;
border-right: 2px solid #dea ;
}
ul li a:hover {
	background: url(../img/bg_menu.gif) repeat-x 0 0 ;
}



div#contenu
{
	padding: 0px 25px 0px 100px ;
	background: url(../img/bg_page.png) no-repeat 5px 20px ;
	
}


div#contenu h2
{
	padding: 0px 25px ;
	background: url(../img/little_apple.png) no-repeat left bottom ;
	color: #9b2 ;
	border-bottom: 1px solid #9b2 ;
}

div#contenu h3
{
	margin-left: 15px ;
	padding-left: 5px ;
	border-bottom: 1px solid #9b2 ;
	border-left: 1px solid #9b2 ;
	color: #9b2 ;
}

div#contenu p
{
    margin-left: 15px ;
	padding-left: 5px ;
	text-align: justify ;
	text-indent: 1cm ;
	line-height: 0.6cm ;
}
div#link a
{
    padding-left: 70px;
	color: #8a0 ;
}

div#link a:hover
{
	color: #9b2 ;
}
div#footer{
    padding-left: 280px;
	color: #8a0 ;
}