
body{
    background:#dea;
}
div#tete{
    width: 770px ;
    margin:  auto ;
    border: 2px solid #ab4 ;
    background: #fff ;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul li {
    float: left;
    width: 200;
    height: 20;
    background-color: #ab4;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}
ul li a {
    text-decoration: none;
    color: #fff;
    display: block;
}
ul li a:hover {
    background-color: aquamarine;
}